<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-maintainance-details-heading"
        data-cy="MaintainanceDetailsCreateUpdateHeading"
        jhiTranslate="carMaintainanceApp.maintainanceDetails.home.createOrEditLabel"
      >
        Create or edit a Maintainance Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="carMaintainanceApp.maintainanceDetails.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="carMaintainanceApp.maintainanceDetails.action" for="field_action">Action</label>
          <select class="form-control" name="action" formControlName="action" id="field_action" data-cy="action">
            <option [ngValue]="null">{{ 'carMaintainanceApp.Action.null' | translate }}</option>
            <option *ngFor="let action of actionValues" [value]="action">{{ 'carMaintainanceApp.Action.' + action | translate }}</option>
          </select>
          <div *ngIf="editForm.get('action')!.invalid && (editForm.get('action')!.dirty || editForm.get('action')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('action')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="carMaintainanceApp.maintainanceDetails.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="carMaintainanceApp.maintainanceDetails.maintainance" for="field_maintainance"
            >Maintainance</label
          >
          <select
            class="form-control"
            id="field_maintainance"
            data-cy="maintainance"
            name="maintainance"
            formControlName="maintainance"
            [compareWith]="compareMaintainance"
          >
            <option *ngIf="!editForm.get('maintainance')!.value" [ngValue]="null" selected></option>
            <option [ngValue]="maintainanceOption" *ngFor="let maintainanceOption of maintainancesSharedCollection">
              {{ maintainanceOption.level }}
            </option>
          </select>
        </div>
        <div
          *ngIf="
            editForm.get(['maintainance'])!.invalid && (editForm.get(['maintainance'])!.dirty || editForm.get(['maintainance'])!.touched)
          "
        >
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['maintainance'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
