<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="maintainanceDetails">
      <h2 data-cy="maintainanceDetailsDetailsHeading">
        <span jhiTranslate="carMaintainanceApp.maintainanceDetails.detail.title">Maintainance Details</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ maintainanceDetails.id }}</span>
        </dd>
        <dt><span jhiTranslate="carMaintainanceApp.maintainanceDetails.name">Name</span></dt>
        <dd>
          <span>{{ maintainanceDetails.name }}</span>
        </dd>
        <dt><span jhiTranslate="carMaintainanceApp.maintainanceDetails.action">Action</span></dt>
        <dd>
          <span jhiTranslate="{{ 'carMaintainanceApp.Action.' + maintainanceDetails.action }}">{{ maintainanceDetails.action }}</span>
        </dd>
        <dt><span jhiTranslate="carMaintainanceApp.maintainanceDetails.price">Price</span></dt>
        <dd>
          <span>{{ maintainanceDetails.price }}</span>
        </dd>
        <dt><span jhiTranslate="carMaintainanceApp.maintainanceDetails.maintainance">Maintainance</span></dt>
        <dd>
          <div *ngIf="maintainanceDetails.maintainance">
            <a [routerLink]="['/maintainance', maintainanceDetails.maintainance.id, 'view']">{{
              maintainanceDetails.maintainance.level
            }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/maintainance-details', maintainanceDetails.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
